const env = {
  SIGNAL_HOST: 'IP',
  SIGNAL_PORT: 'PORT',
  STUN_HOST: 'IP',
  STUN_PORT: 'PORT',
  TURN_HOST: 'IP',
  TURN_PORT: 'PORT',
  TURN_USER: 'TURN USERNAME',
  TURN_PWD: 'PASSWORD',
};
export default env;
