@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&family=Titillium+Web:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,400;1,600;1,700&display=swap');

:root {
  --accent-color: #ffb662;
  --dark-color: #352f41;
  --gradient-purple: linear-gradient(to top, #6d25ff, #cf82ff);
  --gradient-dark: linear-gradient(307deg, #514a5c 0%, #1a1527 100%);
  --gradient-light: linear-gradient(307deg, #e4e5ea 0%, #f0f1f6 100%);
  --gradient-purple__light: linear-gradient(
    283deg,
    #514a5ca1 0%,
    #1a1527a1 100%
  );

  font-family: 'Titillium Web', serif;
  background: var(--gradient-light);
  color: var(--dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: var(--accent-color);
  background: var(--dark-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.08rem;
  text-decoration: none;
  text-transform: none;
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  letter-spacing: 0.24rem;
  font-size: 3rem;
}
