/* .circletimer {
  position: absolute;
  height: 100%;
  width: 130px;
  border-radius: 50%;
  background-color: rgba(1, 1, 1, 0.7);
  border: 8px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b {
  position: absolute;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
} */

.TimerContainer {
  top: 50%;
  width: auto;
  position: absolute;
  height: 130px;
  padding-left: 30px;
  padding-right: 30px;
  transform: translate(-50%, -50%);

  color: #fff;
  font-family: 'Titillium Web';
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerNumber {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}
