.requestspeak {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  text-align: center;
  height: 30px;
  width: auto;
  border-radius: 25px 0px 0px 25px;
  background: linear-gradient(180deg, #e4e5ea, #f0f1f6);
}
.butonnoIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;

  color: #7c30ff;
  cursor: pointer;
  background-color: rgb(245, 184, 112);
  opacity: 0.9;
}
.buttonyesIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: #7c30ff;
  border: none;
  cursor: pointer;
  background-color: rgb(130, 250, 175);
  opacity: 0.9;
}
.handIconRequest {
  width: 50px;
  height: 50px;
  padding: 4px;

  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  background-color: #d0cece;
}
.userName {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bolder;
}

.request_Container {
  height: 50px;
  text-align: left;
  margin-right: 40px;
  font-size: 18px;
  color: #000;
  font-family: 'Titillium Web';
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.butonnorequestContainer {
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  left: 0%;
}
=======
    position: absolute;
    height: 100%;
    width: 67.57%;
    top: 0%;
    right: 32.43%;
    bottom: 0%;
    left: 0%;
    border-radius: 25px 0px 0px 25px;
    background: linear-gradient(180deg, #e4e5ea, #f0f1f6);
}
.butonnoIcon {
    position: absolute;
    height: 100%;
    width: 13.51%;
    top: 0%;
    right: 16.22%;
    bottom: 0%;
    left: 70.27%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.buttonyesIcon {
    position: absolute;
    height: 100%;
    width: 13.51%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 86.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.userright1AvatarIcon {
    position: absolute;
    height: 100%;
    width: 13.51%;
    top: 0%;
    right: 86.49%;
    bottom: 0%;
    left: 0%;
    border-radius: 500px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.jean {
    position: absolute;
    height: 50%;
    width: 14.86%;
    top: 24%;
    left: 15.68%;
    letter-spacing: 0.05em;
    font-weight: 900;
    display: flex;
    align-items: center;
}
.request {
    position: absolute;
    height: 50%;
    width: 25.68%;
    top: 24%;
    left: 37.57%;
    text-align: right;
    display: flex;
    align-items: center;
}
.requestContainer {
    width: 100%;
    position: relative;
    height: 50px;
    text-align: left;
    font-size: 18px;
    color: #000;
    font-family: 'Titillium Web';
}
>>>>>>> 41c665d404bb1604eb3d3142677e0e84265aec7b
