.VideoScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  flex-wrap: wrap;
}

.VideoScreenPlayer {
  display: flex;
  width: 20%;
  height: 50vh;
  max-width: 600px;
}

.VideoControls {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  gap: 25px;
  z-index: 10000;
  padding: 10px;
  border-radius: 50px;
  pointer-events: auto;
  background: linear-gradient(
    180deg,
    rgba(81, 74, 92, 0.5) 30%,
    rgba(53, 47, 65, 0.5) 80%,
    rgba(26, 21, 39, 0.5) 100%
  );
  width: 100vw;
  height: 91px;
}

.PlayVideoLeft,
.MuteVideoLeft,
.OffVideoLeft {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10000;
  position: relative;
  height: 4rem;
  width: 4rem;
  text-align: center;
  color: var(--white);
  background: var(--gradient-dark);
  box-shadow: var(--box-shadow);
  opacity: 0.6;
  border-radius: 100%;
}

.PlayVideoLeft:hover,
.MuteVideoLeft:hover,
.OffVideoLeft:hover {
  background-color: #cf82ff(0, 0, 0, 1);
}

.buttonBeMute {
  color: var(--white);
  font-size: 30px;
  opacity: 0.8;
  text-align: center;
}
