#header {
  background: var(--white);
  box-shadow: var(--box-shadow);

  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.avatar {
  cursor: pointer;
}

.header_logo {
  height: 1.4rem;
  align-self: center;
  cursor: pointer;
}
