.VideoScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  position: relative;
  flex-wrap: wrap;
}

.VideoScreenLeft,
.VideoScreenRigth {
  display: flex;
  width: 20%;
  height: 50vh;
  max-width: 600px;
}

.VideoControls {
  position: absolute;
  bottom: 255px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  gap: 15px;
  z-index: 9999; /* Asegura que los botones estén sobre el video */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.PlayVideoRigth,
.MuteVideoRight,
.OffVideoRight {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10000;
  position: relative;
}

.PlayVideoRigth:hover,
.MuteVideoRight:hover,
.OffVideoRight:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
